*, *::before,*::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}
html {
    /* background-color: #ffffff75; */
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    /* background-color: rgba(255, 255, 255, 0.075); */
    background: linear-gradient(rgba(32, 32, 32, 0.92), rgba(8, 8, 8, 0.95)), url('https://wallpapercave.com/wp/wp8979345.jpg');
    background-repeat: unset;
}

body > h1 > h1,h2 {
    color: white;
}

body h2 {
    align-self: center;
    text-align: center;
}

header {
    background-color: #060607;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 2vw;
    margin-bottom: 2vh;
    justify-content: space-between;
}

header * {
    color: white;
    font-size: 2rem;
    text-shadow: 
    3px 3px 1px rgba(0, 13, 255 , 1),
    -3px -3px 1px rgba(255, 0, 0 , 1 ); ;
}

body > *{
    padding-bottom: 3vh;
    padding-left: 2rem; 
    padding-right: 2rem;
}

.home { 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

pt {
    display: block;
}

.en {
    display: none;
}

.typewriter h1 {
    color:white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(255, 255, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
    font-size: 3em;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }
  
.description {
    margin-top: 8vh;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgb(38, 41, 44);
    border-radius: 1rem;
    padding: 1em;
    margin-left: 2rem;
    margin-right: 2rem;
}

.content {
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3vw;
    padding-right: 3vw;
    height: 100%;
}
.links {
    display: flex;
    align-items: center;
    gap: 5vw;
}
.links img {
    height: 3vw;
    margin-top: 0;
    margin-bottom: 3vh;
    width: 3vw;
    cursor: pointer;
}

.projects {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.3vw;
}

.project-container {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgb(38, 41, 44);
    border-radius: 1rem;
    margin-bottom: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 290px;
    width: 22%;
}


.project-container * {
    margin-top: 1rem;
}

#self {
    background-color: #060607;
    height: 20%;
    width: 20%;
    border-radius: 100%;
    box-shadow: 
    2px 2px 2px rgba(0, 13, 255 , 1),
    -2px -2px 3px rgba(255, 0, 0 , 1 ); 
}

.bola {
    background-color: #060607;
    height: 22vh;
    width: 100%;
    margin-top: 0;
    /* border-radius: 100%; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
        
}

.technology-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contato-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contato-container img{
    border-radius: 5px;
    padding: 5px;     
    width: 5vw;
    height: 5vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
    cursor: pointer;
}

#myGithub {
    filter: invert(100%);
}

.technology-container img{
    box-shadow: rgba(0 0 0 / 0.31) 0px 4px 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;     
    width: 5vw;
    height: 5vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
}


.deadline {
    display: flex;
    /* position: sticky; */
    bottom: 3vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deadline hr {
    color: black;
    width: 100%;
    border: black 1px solid; 
}

@media screen and (max-width: 600px){
    header {
        background-color: #060607;
        height: 10vh;
    }

    header * {
        font-size: 1.5rem;
    }

    .typewriter h1 {
        font-size: 24pt;
    }
    .home {
        display: flex;
        flex-direction: column;
    }

    .technology-container img{
        width: 15vw;
        height: 15vw;
        margin-left: 1vw;
        margin-bottom: 1vh;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
    }


    .project-container {
        width: 100%;
        flex: 1;
        min-width: none;
    }

    .project-container .bola {
        width: 100%;
        height: 20vh;
        max-height: 15rem;
    }

    .links img {
        width: 10vw;
        height: 10vw;
    }
    
    .contato-container img {
        width: 10vw;
        height: 10vw;
    }
}